<ion-view view-title="Mi cuenta">
    <ion-content>
        <content has-header="true" padding="true">
            <div class="card">
                <div class="item item-text-wrap">
                    Mi cuenta
                    <button class="button button-block button-positive" ui-sref="app.payment">
                        Añadir créditos
                    </button>
                </div>
            </div>

            <div class="card">
                <div class="item item-text-wrap">
                    <table>
                        <tr>
                            <th>Fecha</th>
                            <th>Método de pago</th>
                            <th>Nro.</th>
                            <th>Estatus</th>
                            <th>Monto</th>
                        </tr>
                        <tr>
                            <td data-th="Fecha">10/01/2016</td>
                            <td data-th="Método de pago">TC - Master</td>
                            <td data-th="Nro.">8554856</td>
                            <td data-th="Estatus">Procesado</td>
                            <td data-th="Monto">€10</td>
                        </tr>
                        <tr>
                            <td data-th="Fecha">15/01/2016</td>
                            <td data-th="Método de pago">TC - Visa</td>
                            <td data-th="Nro.">8955433</td>
                            <td data-th="Estatus">Procesado</td>
                            <td data-th="Monto">€5</td>
                        </tr>
                        <tr>
                            <td data-th="Fecha">05/02/2016</td>
                            <td data-th="Método de pago">Paypal</td>
                            <td data-th="Nro.">9656224</td>
                            <td data-th="Estatus">Procesado</td>
                            <td data-th="Monto">€10</td>
                        </tr>
                    </table>
                </div>
            </div>
        </content>
    </ion-content>
</ion-view>
