<ion-view>
    <ion-content>
        <div class="row subtitle filter" scroll="false">
            <div class="col col-100">
                <div class="left">
                    <span>Mi cuenta</span>
                </div>
                <div class="center">
                    <br>
                </div>
                <div class="right">
                    <br>
                </div>

            </div>
        </div>
        <content has-header="true" padding="true">
            <div class="list">
                <div class="item padding">
                    <button class="button button-block button-positive" ui-sref="app.payment">
                        Añadir créditos
                    </button>
                </div>
            </div>

            <div class="card" ng-if="view.transactions.length">
                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col">Fecha</div>
                        <div class="col">Nro.</div>
                        <div class="col">Monto</div>
                    </div>
                    <div class="row" ng-repeat="transaction in view.transactions">
                        <div class="col">10/01/2016</div>
                        <div class="col">{{transaction.transaction_id}}</div>
                        <div class="col">{{transaction.balance}}</div>
                    </div>
                </div>
            </div>
        </content>
    </ion-content>
</ion-view>
