<ion-view view-title="Mi cuenta">
    <ion-content>
        <content has-header="true" padding="true">
            <div class="card">
                <div class="item item-text-wrap">
                    Mi cuenta
                    <button class="button button-block button-positive" ui-sref="app.payment">
                        Añadir créditos
                    </button>
                </div>
            </div>

            <div class="card" ng-if="view.transactions.length">
                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col">Fecha</div>
                        <div class="col">Nro.</div>
                        <div class="col">Monto</div>
                    </div>
                    <div class="row" ng-repeat="transaction in view.transactions">
                        <div class="col">10/01/2016</div>
                        <div class="col">{{transaction.transaction_id}}</div>
                        <div class="col">{{transaction.balance}}</div>
                    </div>
                </div>
            </div>
        </content>
    </ion-content>
</ion-view>
