<ion-view class="cart">
    <ion-content>
        <div class="row subtitle filter" scroll="false">
            <div class="col col-100">
                <div class="left">
                    <span>Carrito de compra</span>
                </div>
                <div class="center">
                    <br>
                </div>
                <div class="right">
                    <br>
                </div>

            </div>
        </div>
        <div class="list list-cart">
            <label class="item item-input">
                <div class="input-label">
                    Total de empresas
                </div>
                <input type="number" style="float: right; margin-right:10px;text-align:right"
                        min="0" ng-model="view.totalCompanies"  ng-change="changeTotal()">
            </label>
            <label class="item item-input item-stacked-label">
                <div class="input-label" style="width: 50%">
                    Precio por unidad
                </div>
                <div class="input-label" style="text-align: right">
                    <span class="item-note">{{view.unitPrice}}€</span>
                </div>
            </label>
            <label class="item item-input item-stacked-label">
                <div class="input-label" style="width: 50%">
                    Mi saldo
                </div>
                <div class="input-label" style="text-align: right">
                    <span class="item-note">{{view.balance}}€</span>
                </div>
            </label>
            <ion-item class="item-divider item-title">
                <span>Total sin comisi&oacute;n </span>
                <span style="float: right; margin-right:25px">{{(view.totalCompanies*view.unitPrice)}}€</span>
            </ion-item>
            <ion-item class="item-divider item-title">
                <span>Total a pagar</span>
                <span style="float: right; margin-right:25px">{{view.total}}€</span>
            </ion-item>
            <ion-item class="item-divider item-title" ng-if="view.balance > 0">
                <span>Descuento de saldo</span>
                <span style="float: right; margin-right:25px" ng-if="view.balance >= view.total">- {{view.total}}€</span>
                <span style="float: right; margin-right:25px" ng-if="view.balance < view.total">- {{view.balance}}€</span>
            </ion-item>
            <ion-item class="item-divider item-title" ng-if="view.payable > 0" style="background-color:darkgrey">
                <span>Por pagar</span>
                <span style="float: right; margin-right:25px">{{view.payable}}€</span>
            </ion-item>
        </div>
        <div class="list input-list" style="padding:10px">
            <button class="button button-positive button-100" ng-click="checkout()" ng-if="view.payable > 0 && view.total > 0 ">
                <i class="icon ion-card"></i>
                Pagar diferencia
            </button>
        </div>
        <div class="list input-list" style="padding:10px">
            <button class="button button-balanced button-100" ng-click="confirmCheckout()" ng-if="view.payable == 0 && view.total > 0">
                <i class="icon ion-card"></i>
                Realizar compra
            </button>
        </div>
    </ion-content>
</ion-view>