<ion-view view-title="Filtros">
    <ion-content>
        <content has-header="true" padding="true">
            <form>
                <label class="item item-input">
                    <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete"
                           autocomplete="off"
                           ng-model="model"
                           item-value-key="id"
                           item-view-value-key="name"
                           items-method="getItems(query)"
                           placeholder="Buscar por CNAE ..."
                           items-clicked-method="itemsClicked(callback)"
                           items-removed-method="itemsRemoved(callback)"
                           max-selected-items="3"/>
                </label>
                <!--items-method-value-key=""-->
            </form>
        </content>
    </ion-content>
</ion-view>
