<ion-modal-view class="modal-company-share-new" scroll="false">
    <ion-header-bar class="bar-positive">
        <h1 class="title">{{listName | uppercase | limitTo:25}} <span ng-if="title.length > 25">...</span></h1>
        <i class="ion-close" ng-click="closeDetail()" style="position: absolute; float: right; margin-top: 8px; right: 15px; font-size: 20px"></i>
    </ion-header-bar>
    <ion-content scroll="false">
        <div class="list">

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="email" placeholder="Correo electrónico" ng-model="obj.username">
                </label>
                <button class="button button-small" ng-click="share(obj)">
                    Compartir
                </button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>