<ion-modal-view class="modal-company-info">
    <ion-header-bar>
        <h1 class="title">{{title | uppercase | limitTo:25}} <span ng-if="title.length > 25">...</span></h1>
    </ion-header-bar>
    <ion-content scroll="true">
        <p class="social-object">
            {{socialObject | lowercase}}
        </p>
        <div class="row">
            <div class="col">
                <span>Color:</span>
            </div>
        </div>
        <div class="row">
            <div class="col-20">
                <img src="img/color/blue.png" ng-click="changeStyle(marker,'http://maps.google.com/mapfiles/ms/icons/blue-dot.png')">
            </div>
            <div class="col-20">
                <img src="img/color/pink.png" ng-click="changeStyle(marker,'http://maps.google.com/mapfiles/ms/icons/pink-dot.png')">
            </div>
            <div class="col-20">
                <img src="img/color/yellow.png" ng-click="changeStyle(marker,'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png')">
            </div>
            <div class="col-20">
                <img src="img/color/red.png" ng-click="changeStyle(marker,'http://maps.google.com/mapfiles/ms/icons/red-dot.png')">
            </div>
            <div class="col-20">
                <img src="img/color/green.png" ng-click="changeStyle(marker,'http://maps.google.com/mapfiles/ms/icons/green-dot.png')">
            </div>
            </a>
        </div>
    </ion-content>
</ion-modal-view>