<ion-view class="filters">
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light" style="display: none!important;">
        <div class="tabs">
            <a class="tab-item" ng-class="{ 'active': tabActive == 'me' }" ng-click="tabActive='me'">
                Mis listados
            </a>
            <a class="tab-item" ng-class="{ 'active': tabActive == 'other' }" ng-click="tabActive='other'">
                Compartidas
            </a>
        </div>
    </div>


    <ion-content>
        <div class="row subtitle " scroll="false">
            <div class="col col-100">
                <div class="left">
                    <span class="title-views">Mis listados</span>
                </div>
                <div class="center">
                    <br>
                </div>
                <div class="right">
                    <br>
                </div>

            </div>
        </div>
        <div class="list">
            <a class="item item-icon-left" href="#" ng-repeat="list in lists"
               ng-click="showDetail('{{list.id}}', '{{list.name}}')"
               ng-if="(tabActive == 'me' && list.customer == customerId) || (tabActive == 'other' && list.customer != customerId)">
                <img src="img/business.png" alt="" class="list-companies icon-center-vertical" style="">
                {{list.name}}
            </a>
        </div>
    </ion-content>
</ion-view>
