<ion-view>
    <ion-content>
        <div class="row subtitle filter" scroll="false">
            <div class="col col-100">
                <div class="left">
                    <span>Mis listados</span>
                </div>
                <div class="center">
                    <br>
                </div>
                <div class="right">
                    <br>
                </div>

            </div>
        </div>
        <!--<ion-list>-->
            <!--<ion-item ng-repeat="item in items">-->
                <!--<h3 ng-click="callRoute(item)">{{item.name}} - {{type[item.transport]}}</h3>-->
                <!--<ion-delete-button class="ion-minus-circled"-->
                                   <!--ng-click="deleteRoute($index, item)">-->
                <!--</ion-delete-button>-->
                <!--&lt;!&ndash;<button class="button button-positive" ng-click="callRoute(item)">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="icon ion-eye"></i>&ndash;&gt;-->
                <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--</ion-item>-->
        <!--</ion-list>-->
    </ion-content>
</ion-view>
