<ion-view>

    <ion-header-bar align-title="center" class="bar-positive">
        <h1 class="title">Confirmar cuenta</h1>
    </ion-header-bar>

    <ion-content has-bouncing="false">

        <div class="card">
            <div class="item item-text-wrap">
                Se ha enviado un email a la cuenta: {{username}} con el código de confirmación de su cuenta.
            </div>
        </div>

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Número de confirmación</span>
                <input type="number" placeholder="Ingrese el número que le llegó a su correo" ng-model="confirm.token">
            </label>
        </div>

        <div class="row">
            <div class="col">
                <button ng-click="confirmation()" ng-disabled="!confirmation"
                        class="button button-full button-positive">Confirmar
                </button>
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                <a ng-click="resend()">Reenviar código de confirmación</a>
            </div>
        </div>
    </ion-content>
</ion-view>