<ion-view>

    <ion-header-bar align-title="center" class="bar-calm">
        <h1 class="title">Nueva Contraseña</h1>
    </ion-header-bar>

    <ion-content has-bouncing="false">

        <div class="card">
            <div class="item item-text-wrap">
                Se ha enviado un email a la cuenta: {{username}} con el código de confirmación para cambiar su
                contraseña.
            </div>
        </div>

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Número de confirmación</span>
                <input type="text" placeholder="Ingrese el número que le llegó a su correo" ng-model="confirm.token">
            </label>
        </div>

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nueva Contraseña</span>
                <input type="password" placeholder="Nueva contraseña" ng-model="confirm.password">
            </label>
        </div>

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Repita la Contraseña</span>
                <input type="password" placeholder="Repita la contraseña" ng-model="confirm.password2">
            </label>
        </div>

        <div class="row">
            <div class="col">
                <button ng-click="confirmPassword()" ng-disabled="!confirm.token"
                        class="button button-full button-positive">Cambiar Contraseña
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>