<ion-view class="register">

    <ion-header-bar class="bar-transparent">
        <h1 class="title slides-header" ui-sref="slides">
            <img src="img/x.png">
        </h1>
    </ion-header-bar>

    <ion-content has-bouncing="false">

        <div class="login-logo">
            <img src="img/findness_white.png" class="center logo-center"/>
        </div>

        <div class="register-inputs">
            <div class="row">
                <div class="col">
                    <label style="color:#fff; font-size: 11px;margin-bottom:10px;">Introduzca aqui su código de
                        confirmación</label>
                    <input type="email" placeholder="Código de confirmación" ng-model="confirm.token">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button ng-click="confirmation()" ng-disabled="!confirmation"
                            class="button button-full button-sign">Validar
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col" style="text-align: center">
                <div class="recover-text" style="line-height: initial !important; margin:0!important;">
                    <a ng-click="resend()">Reenviar código de confirmación</a>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>