<div class="list">
    <label class="item item-input">
        <input type="text" placeholder="Nombre de la ruta" ng-model="formRoute.name">
    </label>
    <label class="item item-input item-select">
        <div class="input-label">
            Transporte
        </div>
        <select ng-model="formRoute.transport">
            <option value="WALKING">A pie</option>
            <option value="DRIVING">En automóvil</option>
            <option value="TRANSIT">En transporte público</option>
        </select>
    </label>
</div>