<div class="list">
    <label class="item item-input">
        <input type="text" placeholder="Nombre de la ruta" ng-model="formRoute.name" ng-class="{'has-error': formRoute.error}">
    </label>
    <div class="error-container" ng-show="formRoute.error">
        <i class="ion-information-circled"></i>
        ¡Este campo es requerido!
    </div>
    <div class="row" style="text-align: center; font-size: 30px">
        <div class="col col-33 selected-transporter" ng-class="driving" ng-click="transporter('DRIVING')">
            <i class="ion-model-s"></i>
        </div>
        <div class="col col-33 " ng-class="transit" ng-click="transporter('TRANSIT')">
            <i class="ion-android-bus"></i>
        </div>
        <div class="col col-33" ng-class="walking"  ng-click="transporter('WALKING')">
            <i class="ion-android-walk"></i>
        </div>
    </div>
    <label class="item item-input item-select" style="display: none">
        <div class="input-label">
            Transporte
        </div>

        <select name="transportSelect" id="transportSelect"
                ng-options="option.name for option in formRoute.availableOptions track by option.id"
                ng-model="formRoute.selectedOption"></select>
    </label>
</div>