<ion-view>
    <ion-content>
        <content has-header="true" padding="true">

            <div class="card">
                <div class="item item-text-wrap">
                    Listado CNAE: Puede seleccionar varios CNAES, los CNAE de 2 dígitos incluyen sus subcategorías.
                </div>
            </div>
            <label class="item item-input">
                <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete"
                       autocomplete="off"
                       ng-model="model"
                       item-value-key="id"
                       item-view-value-key="id"
                       items-method-value-key="items"
                       items-method="getItems(query, 'CNAE')"
                       placeholder="Click para buscar CNAE..."
                       items-clicked-method="itemsClicked(callback, 'CNAE')"
                       items-removed-method="itemsRemoved(callback, 'CNAE')"
                       select-items-label="Seleccione los CNAES correspondientes..."
                       selected-items-label="Seleccionados:"
                       template-url="templates/template-autocomplete.html"
                       max-selected-items="10"/>
            </label>

            <label><ion-toggle ng-model="options.useLocation" toggle-class="toggle-calm">Usar mi localización</ion-toggle></label>

            <div class="card" ng-show="options.useLocation">
                <div class="item item-text-wrap">
                    Cubrir un radio de {{data.pickupAfter}} km
                </div>
                <div class="item range range-positive">
                    <i class="icon ion-ios-minus-outline"></i>
                    <input type="range" name="volume" min="1" max="5" value="{{data.pickupAfter}}"
                           ng-model="data.pickupAfter">
                    <i class="icon ion-ios-plus-outline"></i>
                </div>
            </div>

            <div class="card" ng-hide="options.useLocation">
                <div class="item item-text-wrap">
                    <!-- BUSQUEDA DE PROVINCIAS -->
                    <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete"
                           autocomplete="off"
                           ng-model="stateModel"
                           item-value-key="id"
                           item-view-value-key="name"
                           items-method-value-key="items"
                           items-method="getItems(query, 'states')"
                           placeholder="Click para buscar Provincias..."
                           items-clicked-method="itemsClicked(callback, 'states')"
                           items-removed-method="itemsRemoved(callback, 'states')"
                           select-items-label="Seleccione las Provincias deseadas..."
                           selected-items-label="Seleccionados:"
                           template-url="templates/template-autocomplete-states.html"
                           max-selected-items="1"/>
                </div>

                <div class="item item-text-wrap" ng-show="stateModel != ''">
                    <!-- BUSQUEDA DE CIUDADES -->
                    <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete"
                           autocomplete="off"
                           ng-model="cityModel"
                           item-value-key="id"
                           item-view-value-key="name"
                           items-method-value-key="items"
                           items-method="getItems(query, 'cities')"
                           placeholder="Click para buscar Ciudades..."
                           items-clicked-method="itemsClicked(callback, 'cities')"
                           items-removed-method="itemsRemoved(callback, 'cities')"
                           select-items-label="Seleccione las ciudades correspondientes..."
                           selected-items-label="Seleccionados:"
                           template-url="templates/template-autocomplete-states.html"
                           max-selected-items="1"/>
                </div>

                <div class="item item-text-wrap">
                    <!-- BUSQUEDA DE ZIPCODE-->
                    <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete"
                           autocomplete="off"
                           ng-model="zipCodeModel"
                           item-value-key="id"
                           items-method-value-key="items"
                           items-method="getItems(query, 'zipcodes')"
                           placeholder="Click para buscar Código postal..."
                           items-clicked-method="itemsClicked(callback, 'zipcodes')"
                           items-removed-method="itemsRemoved(callback, 'zipcodes')"
                           select-items-label="Seleccione los códigos postales correspondientes..."
                           selected-items-label="Seleccionados:"
                           template-url="templates/template-autocomplete-states.html"
                           max-selected-items="10"/>
                </div>
            </div>

            <div class="padding">
                <button class="button button-full button-positive" ng-click="search()">Buscar</button>
            </div>
        </content>
    </ion-content>
</ion-view>
