<ion-view class="filters">
    <ion-content>
        <div class="row subtitle filter" scroll="false">
            <div class="col col-100">
                <div class="left">
                    <span class="title-views">Filtros</span>
                </div>
                <div class="center">
                    <br>
                </div>
                <div class="right">
                    <br>
                </div>

            </div>
        </div>
        <content has-header="true" padding="true">

            <!--<div class="card" ng-hide="options.useLocation"></div>-->

            <div class="row">
                <div class="col list-content">
                    <div class="row">
                        <span class="subtitle-input">Sector de Actividad</span>
                    </div>
                    <div class="row div-search">
                        <label class="item item-input col border-radius div-search">
                            <input type="search" ng-model="searchCnaes"
                                   ng-change="listCnaes(searchCnaes)"
                                   class="ng-pristine ng-valid ng-touched input-search "
                                   placeholder="Buscador de CNAES">
                        </label>
                        <!--<button class="ion-autocomplete-cancel button button-clear button-ok col col-offset-5 col-10"
                                ng-class="selectedCNAE.length > 0 && categoriesValid == false ? 'button-positive btn-positive' : 'button-clear'"
                                ng-click="searchCnaes = ''">listo
                        </button>-->
                    </div>

                    <div class="selected-button" style="" ng-if="selectedCNAE.length > 0 && categoriesValid == false">
                        <a class="button button-small btn-color btn-cnae" ng-repeat="itemSelect in selectedCNAE"
                           ng-click="deleteSelect('selectedCNAE',itemSelect.id)">
                            <span class="btn-text-cnae">{{itemSelect.id}}</span>
                            <i class="icon ion-close-round btn-icon-cnae"></i>
                        </a>
                    </div>
                    <div class="list">
                        <ion-item ng-repeat="cnaeItem in cnaesItems" ng-show="searchCnaes.length > 1 && hideListCnaes == true"
                                  ng-click="clickCNAE(cnaeItem.id,cnaeItem.name, cnaeItem.view)">
                            {{cnaeItem.name}}
                        </ion-item>
                    </div>

                    <!--<ion-list ng-show="categoriesValid == true" >
                        <ion-item class="item item-icon-right border-radius"
                                  style="margin-top: 10px!important; "
                                  ng-click="toggleGroup(group)"
                                  ng-class="{active: isGroupShow(group)}">
                            <i class="icon icon-right" style="font-size: 20px;"
                               ng-class="isGroupShow(group) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
                            <span class="span-item" ng-if="(selectedCNAE.length == 0) || (selectedCNAE.length != 0 && categoriesValid == false)">
                                Sectores de actividad
                            </span>
                            <span ng-if="selectedCNAE.length != 0 && categoriesValid == true">{{selectedCNAE[0].view}}</span>
                        </ion-item>
                        <div class="list-radio" ng-show="isGroupShow(group)">
                            <ion-radio ng-repeat="item in cnaesCategories"
                                       ng-model="selectedCNAE"
                                       ng-change="hasChanged(item.id, item.name, group)"
                                       ng-value="item.id">
                                <span ng-if="item.id == ''">{{item.name}}</span>
                                <span ng-if="item.id != ''">{{item.id}} - {{item.name}}</span>
                            </ion-radio>
                        </div>
                    </ion-list>-->
                </div>
            </div>

            <!-- Localización -->
            <div class="row list-content" ng-hide="options.useLocation">
                <div class="col">
                    <div class="row">
                        <span class="subtitle-input">Localización</span>
                    </div>
                    <!-- Provincias -->
                    <div class="row div-search" ng-hide="selectedZipCode.length == 1">
                        <label class="item item-input col border-radius">
                            <input type="search" ng-model="searchState"
                                   ng-change="listStates(searchState)"
                                   class="ng-pristine ng-valid ng-touched input-search"
                                   placeholder="Provincia">
                        </label>
                        <!--<button class="ion-autocomplete-cancel button button-clear button-ok col col-offset-5 col-10"
                                ng-class="searchState.length > 0 ? 'button-positive btn-positive' : 'button-clear'"
                                ng-click="searchState = ''">listo
                        </button>-->
                    </div>
                    <div class="selected-button" style="" ng-if="selectedState.id" ng-hide="zipCodeModel != ''">
                        <a class="button button-small btn-filter btn-color"
                           ng-click="deleteSelect('selectedState',selectedState.id)">
                            <span class="btn-text-cnae" style="text-transform: capitalize; margin-right: 4px!important;">
                                {{selectedState.name | lowercase}}
                            </span>
                            <i class="icon ion-close-round btn-icon-cnae"></i>
                        </a>
                    </div>

                    <div class="list">
                        <ion-item style="text-transform: capitalize" ng-repeat="state in states | filter: {name: searchState}"
                                  ng-show="searchState.length > 1 && hideListState == true"
                                  ng-click="clickState(state.created,state.id,state.name, state.updated)">
                            {{state.name}}
                        </ion-item>
                    </div>

                    <!-- Ciudades -->
                    <div class="row div-search" ng-show="selectedState.id">
                        <label class="item item-input col border-radius">
                            <input type="search" ng-model="searchCity"
                                   ng-change="listCities(searchCity)"
                                   class="ng-pristine ng-valid ng-touched input-search"
                                   placeholder="Ciudad">
                        </label>
                    </div>
                    <div class="selected-button" style="" ng-if="selectedState.id && selectedCity.id" ng-hide="zipCodeModel != ''">
                        <a class="button button-small btn-filter btn-color"
                           ng-click="deleteSelect('selectedCity',selectedCity.id)">
                            <span class="btn-text-cnae" style="text-transform: capitalize;">
                                {{selectedCity.name | lowercase}}
                            </span>
                            <i class="icon ion-close-round btn-icon-cnae"></i>
                        </a>

                    </div>
                    <div class="list">
                        <ion-item style="text-transform: capitalize" ng-repeat="city in cities"
                                  ng-show="searchCity.length > 1 && hideListCity == true"
                                  ng-click="clickCity(city.created,city.id,city.name, city.updated)">
                            {{city.name}}
                        </ion-item>
                    </div>

                    <!-- Zipcodes -->
                    <!--<div class="row div-search" ng-show="!selectedState.id" style="margin-top: 5px">
                        <label class="item item-input col border-radius">
                            <input type="search" ng-model="searchZipcodes"
                                   ng-change="listZipcodes(searchZipcodes)"
                                   class="ng-pristine ng-valid ng-touched input-search"
                                   placeholder="Código Postal">
                        </label>
                        &lt;!&ndash;<button class="ion-autocomplete-cancel button button-clear button-ok col col-offset-5 col-10"
                                ng-class="searchZipcodes.length > 3 ? 'button-positive btn-positive' : 'button-clear'"
                                ng-click="searchZipcodes = ''">listo
                        </button>&ndash;&gt;
                    </div>-->
                    <div class="list">
                        <ion-item style="text-transform: capitalize" ng-repeat="zip in zipcodes"
                                  ng-show="searchZipcodes.length > 3 && hideListZipcode == true"
                                  ng-click="clickZipcode(zip)">
                            {{zip}}
                        </ion-item>
                    </div>

                    <div class="selected-button" style="" ng-repeat="zip in selectedZipCode"
                         ng-if="selectedZipCode.length == 1" ng-hide="stateModel != ''">
                        <a class="button button-small btn-filter btn-color"
                           ng-click="deleteSelect('selectedZipCode',zip)">
                            <span class="btn-text-cnae" style="text-transform: capitalize;margin-right: 4px!important;">
                                {{zip}}
                            </span>
                            <i class="icon ion-close-round btn-icon-cnae"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="list" style="margin-top: 10px">
                <div class="col list-content">
                    <div class="row border-top-bottm">
                        <div class="col col-70  span-item">Usar mi localización</div>
                        <div class="col col-20 col-offset-10">
                            <label class="toggle" style="" >
                                <input type="checkbox" ng-change="checkLocation()"  ng-model="options.useLocation" >
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list" ng-show="options.useLocation">
                <div class="">
                    <span class="subtitle-input" style="padding: 13px!important;">Usar mi localización</span>
                    <div class="col">

                        <div class=" range range-positive" style="border-bottom: 1px solid #ddd;padding-left: 5px!important;padding-right: 10px!important;">
                            <!--<i class="icon ion-ios-minus-outline" ng-click="pickupChange(0)"></i>-->
                            <input type="range" name="volume" min="1" max="5" value="{{data.pickupAfter}}"
                                   ng-model="data.pickupAfter" style="margin-left: 0px!important;">{{data.pickupAfter}}Km
                            <!--<i class="icon ion-ios-plus-outline" ng-click="pickupChange(1)"></i>-->
                        </div>
                    </div>

                </div>
            </div>

            <!-- Sector de Empresas -->
            <div class="row">
                <div class="col list-content">
                    <div class="row">
                        <span class="subtitle-input">Característica de Empresa</span>
                    </div>
                    <ion-list >
                        <ion-item class="item item-icon-right border-radius"
                                  ng-click="toggleBilling(billing)"
                                  ng-class="{active: isBillingShow(billing)}">
                            <i class="icon icon-right" style="font-size: 20px;"
                               ng-class="isBillingShow(billing) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
                                <span class="span-item" ng-if="selectedBilling.length == 0">
                                    Facturacíon
                                </span>
                            <span ng-if="selectedBilling.length != 0">{{selectedBilling[0].name}}</span>
                        </ion-item>
                        <div class="list-radio" ng-show="isBillingShow(billing)">
                            <ion-radio ng-repeat="item in listBilling"
                                       ng-model="selectedBilling"
                                       ng-click="billingChanged(item.id, billing)"
                                       ng-value="item.id">
                                <span ng-if="item.id == ''">{{item.name}}</span>
                                <span ng-if="item.id != ''">{{item.id}} - {{item.name}}</span>
                            </ion-radio>
                        </div>
                    </ion-list>
                </div>
            </div>

            <div class="row">
                <div class="col list-content">
                    <div class="row">
                        <span class="subtitle-input">Filtro Empleados</span>
                    </div>
                    <ion-list >
                        <ion-item class="item item-icon-right border-radius"
                                  ng-click="toggleEmployees(employees)"
                                  ng-class="{active: isEmployeesShow(employees)}">
                            <i class="icon icon-right" style="font-size: 20px;"
                               ng-class="isEmployeesShow(employees) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
                                <span class="span-item" ng-if="selectedEmployees.length == 0">
                                    Empleados
                                </span>
                            <span ng-if="selectedEmployees.length != 0">{{selectedEmployees[0].name}}</span>
                        </ion-item>
                        <div class="list-radio" ng-show="isEmployeesShow(employees)">
                            <ion-radio ng-repeat="item in listEmployees"
                                       ng-model="selectedEmployees"
                                       ng-click="employeesChanged(item.id, item.name, employees)"
                                       ng-value="item.id">
                                <span ng-if="item.id == ''">{{item.name}}</span>
                                <span ng-if="item.id != ''">{{item.id}} - {{item.name}}</span>
                            </ion-radio>
                        </div>
                    </ion-list>
                </div>
            </div>


            <div class="padding row">
                <button class="button button-full button-assertive btn-cancel btn-text col col-45" style="margin-right: 5px" ng-click="cancel()">cancelar</button>
                <button class="button button-full button-positive btn-positive btn-text col col-45"  ng-click="search()">Aplicar Filtros</button>
            </div>
        </content>
    </ion-content>
</ion-view>
