<ion-view class="login">
    <ion-content has-bouncing="false">

        <div class="padding">
            <img src="img/findness.png" class="center logo-center"  />
        </div>

        <div class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input ng-model="data.email" type="email">
            </label>
            <label class="item item-input">
                <span class="input-label">Contraseña</span>
                <input ng-model="data.password" type="password">
            </label>

            <div class="row">
                <div class="col">
                    <button ng-disabled="!data.email || !data.password" ng-click="login()"
                            class="button button-full button-positive">Ingresar
                    </button>
                    <div style="text-align: center">
                        <a href="#">Recordar Contraseña</a>
                    </div>
                    <button class="button button-block button-outline button-positive" ui-sref="register">
                        ¿No tiene cuenta? Regístrese
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>