<ion-view>
    <ion-content has-bouncing="false">

        <div class="row">
            <div class="col text-center login-txt">
                No te preocupes, no publicaremos nada sin <br>
                preguntarte antes.
            </div>
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">E-Mail</span>
                <input ng-model="data.email" type="email">
            </label>
            <label class="item item-input">
                <span class="input-label">Contraseña</span>
                <input ng-model="data.password" type="password">
            </label>

            <div class="row">
                <div class="col">
                    <button ng-disabled="!data.email || !data.password" ng-click="login()"
                            class="button button-full entrar">Entrar
                    </button>
                    <a ui-sref="base.recover" class="recordar">Recordar Contraseña</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>