<ion-view>
    <ion-content>
        <div class="tabs-striped tabs-top tabs-mapa tabs-background-positive tabs-color-light">
            <div class="tabs">
                <a class="tab-item" href="#app/list">
                    Lista
                </a>
                <a class="tab-item active" href="#">
                    Mapa
                </a>
            </div>
        </div>

        <div id="mapButtons" class="map-buttons" ng-show="showRoute">
            <div class="row">
                <div class="col-10">
                </div>
                <div class="col-80">
                    <button class="button button-block button-assertive" ng-click="createRoute()" ng-hide="routeMode || viewRoute">
                    CREAR RUTA
                    </button>

                    <button class="button button-block button-assertive" ng-click="finishRoute()" ng-show="routeMode">
                    GUARDAR RUTA
                    </button>

                    <button class="button button-block button-assertive" ng-click="finishEditRoute()" ng-show="viewRoute">
                    GUARDAR CAMBIOS
                    </button>
                </div>
                <div class="col-10">
                </div>
            </div>
        </div>

        <div style="width:100%;height:100%" id="map_canvas" data-tap-disabled="true">
        </div>
    </ion-content>
</ion-view>
