<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content drag-content="dragStatus">
        <ion-nav-bar class="bar-light border-header header-bar">
            <ion-nav-title>
                <div class="center" style="text-align: center">
                    <img src="img/findness.png" class="logo">
                </div>
            </ion-nav-title>

            <ion-nav-buttons side="left">
                <img src="img/MenuIcon.png" class="menu-btn" menu-toggle="left" alt="">
                <!--<button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
                </button>-->
            </ion-nav-buttons>
            <ion-nav-buttons side="right" >
                <img src="img/search.png" class="search-btn" ui-sref="app.filter">
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left"  id="mainMenu">
        <ion-header-bar class="bar-light">
            <div class="header-menu">
                <div class="legend">
                    <div class="up">
                        <p ng-if="customer.firstName.length <= 21">{{customer.firstName}}</p>
                        <p ng-if="customer.firstName.length >= 24">{{customer.firstName| limitTo:22}} <span ng-if="customer.firstName.length >= 24">...</span></p>
                        <p style="font-weight: 200" ng-if="username.length <= 21">{{username}}</p>
                        <p style="font-weight: 200"ng-if="username.length >= 24">{{username| limitTo:22}} <span ng-if="username.length >= 24">...</span></p>
                    </div>
                    <div class="down">
                        <span>
                   <!--         <i class="ion-clock"></i>&nbsp;Tu cuenta caduca el {{subscription.endDate|date :'dd/MM/yyyy'}}-->
                        </span>
                    </div>
                </div>
            </div>
        </ion-header-bar>
        <ion-content class="categories">
            <ion-list>
                <ion-item menu-close ng-click="stateChange('app.profile')">
                    <img src="img/user.png"> <span>Mi perfil</span>
                </ion-item>
                <ion-item menu-close ng-click="stateChange('app.map')">
                    <img src="img/search_.png"> <span>Buscar Empresas</span>
                </ion-item>
                <ion-item menu-close ng-click="stateChange('app.companies')">
                    <img src="img/list.png"> <span>Mis listados</span>
                </ion-item>
                <ion-item menu-close ng-click="stateChange('app.routes')">
                    <img src="img/route.png"> <span>Mis rutas</span>
                </ion-item>
                <ion-item menu-close ng-click="stateChange('app.searches')">
                    <img src="img/history.png"> <span>Historial de búsquedas</span>
                </ion-item>
               <!-- <ion-item menu-close ng-click="stateChange('app.pricing')">
                    <img src="img/pro.png" style="margin-right: 16px!important;"> <span>Hazte PRO</span>
                </ion-item> -->
                <ion-item menu-close ng-click="stateChange('app.advice')">
                    <img src="img/legal.png"> <span>Aviso legal</span>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
