<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-light">
            <ion-nav-title>
                <div class="center">
                    <img src="img/findness.png" class="logo">
                </div>
            </ion-nav-title>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleMenu()">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-ios-search" ui-sref="app.filter">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left"  id="mainMenu" ng-show="menuVisible">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Menú</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close ng-click="stateChange('app.map')">
                    Ver mapa
                </ion-item>
                <ion-item menu-close ng-click="stateChange('app.profile')">
                    Mi perfil
                </ion-item>
                <ion-item menu-close ng-click="stateChange('app.routes')">
                    Mis rutas
                </ion-item>
                <ion-item menu-close ng-click="stateChange('app.companies')">
                    Mis listados
                </ion-item>
                <ion-item menu-close ng-click="stateChange('app.account')">
                    Mi cuenta
                </ion-item>
                <ion-item menu-close ng-click="stateChange('app.payment')">
                    Agregar saldo
                </ion-item>
                <ion-item menu-close ng-click="stateChange('app.faq')">
                    FAQs
                </ion-item>
                <ion-item menu-close ng-click="stateChange('app.advice')">
                    Aviso legal
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
