<ion-view>
    <ion-content>
        <div class="row subtitle filter" scroll="false">
            <div class="col col-100">
                <div class="left">
                    <span>Confirmar pago PayPal</span>
                </div>
                <div class="center">
                    <br>
                </div>
                <div class="right">
                    <br>
                </div>

            </div>
        </div>
        <content has-header="true" padding="true">
            <div>Su pago está siendo confirmado...</div>
            <div>Su pago ha sido confirmado</div>
        </content>
    </ion-content>
</ion-view>
