<ion-view>
    <ion-content>
        <div class="row subtitle filter" scroll="false">
            <div class="col col-100">
                <div class="left">
                    <span>Confirmar pago PayPal</span>
                </div>
                <div class="center">
                    <br>
                </div>
                <div class="right">
                    <br>
                </div>

            </div>
        </div>
        <content has-header="true" padding="true">
            <div class="list">
                <div class="item" ng-show="viewExecute">
                    <button class="button button-block button-positive" ng-click="executePaypal()">Confirmar pago</button>
                </div>
                <div class="item" ng-show="viewExecute">
                    <button class="button button-block button-positive" ng-click="cancelPayment()">Cancelar pago</button>
                </div>
                <div class="item" ng-hide="viewExecute">
                    <p>No hay pagos por ser realizados.</p>
                </div>
                <div class="item" ng-hide="viewExecute">
                    <button class="button button-block button-positive" ng-click="goToAccount()">Ir a Mi cuenta</button>
                </div>
            </div>
        </content>
    </ion-content>
</ion-view>
