<ion-view view-title="Mi Perfil">
    <ion-content>
        <content has-header="true" padding="true">
            <div class="card">
                <div class="item item-text-wrap">
                    <button class="button button-positive" ng-click="logout()">
                        Cerrar sesión
                    </button>
                    <button class="button button-positive">
                        Cambiar contraseña
                    </button>
                </div>
            </div>
        </content>
    </ion-content>
</ion-view>
