<ion-view class="register">

    <ion-header-bar class="bar-transparent">
        <h1 class="title" ui-sref="login">
            <i class="ion-arrow-left-c"></i>
        </h1>
    </ion-header-bar>

    <ion-content has-bouncing="false">

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Escriba su email" ng-model="data.email">
            </label>
        </div>

        <div class="row">
            <div class="col">
                <button ng-click="requestPassword()" ng-disabled="!data.email"
                        class="button button-full button-positive">Request
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>