<ion-modal-view class="modal-route-info">
    <ion-header-bar class="bar-positive">
        <h1 class="title" style="text-align: center">Información de la ruta</h1>
    </ion-header-bar>

    <ion-content scroll="true">
        <div class="padding">
            <p>Nombre: <b>{{name}}</b></p>
            <p>Transporte: <b>{{transport}}</b></p>
            <p><b>{{counter}}</b> Empresa(s) en la ruta</p>
            <p><b>{{distance}} km</b> total de recorrido</p>
            <p><b>{{duration}} minutos</b> total de recorrido</p>
        </div>
    </ion-content>

</ion-modal-view>