<ion-modal-view class="modal-route-info">
    <ion-header-bar class="bar" style="background: none!important;">
        <h1 class="title"
            style="text-align: center; color: #ffffff!important;font-size: 15px!important; font-size: 600%">Descripción
            de la ruta</h1>
    </ion-header-bar>

    <ion-content scroll="true">
        <div class="padding">
            <p ng-bind-html="description"></p>
        </div>
        <div id="right-panel"></div>
    </ion-content>

</ion-modal-view>