<ion-view>
    <ion-content>
        <div class="row subtitle filter" scroll="false">
            <div class="col col-100">
                <div class="left">
                    <span>Mis búsquedas</span>
                </div>
                <div class="center">
                    <br>
                </div>
                <div class="right">
                    <br>
                </div>

            </div>
        </div>
        <content has-header="true" padding="true">
            <ion-list>
                <ion-item ng-repeat="item in items" class="item-button-right" ng-click="callSearch(item)">
                    <h3>{{item.name}}</h3>
                    <!--<button class="button button-positive" ng-click="callSearch(item)">-->
                        <!--<i class="icon ion-eye"></i>-->
                    <!--</button>-->
                </ion-item>
            </ion-list>
        </content>
    </ion-content>
</ion-view>
