<ion-view>
    <ion-content>
        <div class="row subtitle filter" scroll="false">
            <div class="col col-100">
                <div class="left">
                    <span>Historial de búsqueda</span>
                </div>
                <div class="center">
                    <br>
                </div>
                <div class="right">
                    <br>
                </div>

            </div>
        </div>
        <content has-header="true" padding="true">
            <ion-list>
                <ion-item ng-repeat="item in items" class="item-button-right" ng-click="callSearch(item)">
                    <h3>{{item.name}}</h3>
                    <ion-option-button class="button-energized icon ion-edit" ng-click="showChangeName(item)"></ion-option-button>
                    <ion-option-button class="button-assertive icon ion-trash-a" ng-click="delete(item, $index)"></ion-option-button>
                </ion-item>
            </ion-list>
        </content>
    </ion-content>
</ion-view>
