<ion-slides options="options" slider="data.slider" does-continue="true">
    <ion-slide-page class="slide-1" >
        <div class="content">
            <div class="row">
                <div class="col logo">
                    <img src="img/findness_white.png">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2 class="title"></h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="description">La app diseñada para vendedores que localiza a tus clientes potenciales.
                    ¡No pierdas ninguna oportunidad de negocio y maximiza tus ventas!</p>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:0!important;padding-bottom:0!important;">
            <div class="col" style="margin-bottom:0!important;padding-bottom:0!important;">
                <button class="button button-block button-create" ng-click="goToPage('register')">
                    Crear cuenta
                </button>
            </div>
        </div>
        <div class="row" style="margin-top:-15px!important;">
            <div class="col">
                <button class="button button-block button-sign" ng-click="goToPage('login')">
                    Acceder
                </button>
            </div>
        </div>
    </ion-slide-page>
    <ion-slide-page class="slide-2">
        <div class="content">
            <div class="row">
                <div class="col logo">
                    <img src="img/findness_white.png">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2 class="title"></h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="description">Ponemos al alcance de tu mano el 100% de tus clientes potenciales. Elevando así
                        tus posibilidades de éxito.</p>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:0!important;padding-bottom:0!important;">
            <div class="col" style="margin-bottom:0!important;padding-bottom:0!important;">
                <button class="button button-block button-create" ng-click="goToPage('register')">
                    Crear cuenta
                </button>
            </div>
        </div>
        <div class="row" style="margin-top:-15px!important;">
            <div class="col">
                <button class="button button-block button-sign" ng-click="goToPage('login')">
                    Acceder
                </button>
            </div>
        </div>
    </ion-slide-page>
    <ion-slide-page class="slide-3">
        <div class="content">
            <div class="row">
                <div class="col logo">
                    <img src="img/findness_white.png">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2 class="title"></h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="description">Selecciona las empresas que quieres visitar y nosotros organizamos tu ruta
                        comercial para que puedas dedicarte a lo más importante. Vender, vender y vender.</p>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:0!important;padding-bottom:0!important;">
            <div class="col" style="margin-bottom:0!important;padding-bottom:0!important;">
                <button class="button button-block button-create" ng-click="goToPage('register')">
                    Crear cuenta
                </button>
            </div>
        </div>
        <div class="row" style="margin-top:-15px!important;">
            <div class="col">
                <button class="button button-block button-sign" ng-click="goToPage('login')">
                    Acceder
                </button>
            </div>
        </div>
    </ion-slide-page>
</ion-slides>