<ion-slides options="options" slider="data.slider">
    <ion-slide-page style="background: yellow">
        <div class="box blue">
            <i class="icon ion-alert"></i>
        </div>
    </ion-slide-page>
    <ion-slide-page style="background: #2cf5ff">
        <div class="box yellow">
            <i class="icon ion-alert"></i>
        </div>
    </ion-slide-page>
    <ion-slide-page>
        <div class="box">
            <div class="row row-bottom bottom-div">
                <div class="col" style="align-items: center">
                    <button class="button button-block button-positive" ng-click="goToPage('register')">
                        Registro
                    </button>
                </div>
                <div class="col" style="align-items: center">
                    <button class="button button-block button-positive" ng-click="goToPage('login')">
                        Accede
                    </button>
                </div>
            </div>
        </div>
    </ion-slide-page>
</ion-slides>