<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <button class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="register"></button>
        </div>
        <h1 class="title">Términos y condiciones</h1>
    </ion-header-bar>

    <ion-content>
        <content has-header="true" padding="true">
            <div class="card">
                <div class="item item-text-wrap">
                    <h2>Registrándote aceptas nuestros términos legales y política de privacidad</h2>
                    <br />

                    <h3>Política de privacidad</h3>
                    <h3>Introducción</h3>
                    <br />
                    <p class="justify-text">Esta política de privacidad explica cómo la empresa española Findness recoge y trata tu información en
                        relación con el servicio compra de información y geolocalización de empresas que opera y está
                        ubicado en http://www.findness.es , cualquier página web relacionada con Findness o aplicaciones
                        móviles de la misma que enlacen a esta Política de Privacidad (en general el "El servicio", "Servicios" o
                        "Sitio" de Findness).</p>
                    <br />
                    <h3>Legislación</h3>
                    <p class="justify-text">De conformidad con lo dispuesto en la Ley Orgánica 15/1999, de Protección de Datos de Carácter
                        Personal (LOPD) y su normativa de desarrollo en cumplimiento de lo dispuesto en el art. 5 y 6 de la
                        LOPD, informa a todos los usuarios de la aplicación que faciliten o vayan a facilitar sus datos
                        personales, que estos serán incorporados en un fichero automatizado. La utilización del sitio implica su
                        aceptación plena y sin reservas de todas las disposiciones incluidas en esta política de privacidad. Si no
                        estás de acuerdo con todas o algunas de estas condiciones te pedimos por favor que no utilices la
                        aplicación ni los servicios de Findness.</p>
                    <br />
                    <h3>Recolección de información</h3>
                    <p class="justify-text">Información personal<br />
                        Findness puede recoger información personal como tu nombre, correo electrónico, dirección postal o
                        número de teléfono. Si realizas una compra de los productos y/o servicios que ofrece Findness
                        recogeremos información sobre tu tarjeta de crédito, pero no será almacenada bajo nuestra
                        infraestructura, sino que será usada para que nuestros proveedores de servicios de pagos cómo PayPal
                        y Stripe puedan completar las transacciones.
                        Nos reservamos el derecho de recoger o dejar de recoger cualquier información personal en el futuro.</p>
                    <br />
                    <h3>Información de dispositivo</h3>
                    <p class="justify-text">Findness podrá recolectar información de forma automática sobre tu dispositivo; tipo y versión de
                        sistema operativo, tipo de dispositivo, idioma, IP, información de red, horarios y tiempos de acceso a los
                        servicios de Findness o cualquier otra información relacionada como información general del uso para
                        mejorar, auditar y proporcionar estadísticas relacionadas con el uso del servicio de Findness.</p>
                    <br />
                    <h3>Información externa</h3>
                    <p class="justify-text">Findness podrá obtener información de otras fuentes y combinarla con la información que ya ha
                        recolectado previamente a través del servicio. Por ejemplo si creas una cuenta o inicias sesión a través
                        de una red social (ej: Inicio de sesión con Facebook), tendremos acceso a cierto tipo de información de
                        ese sitio, como tu nombre, información de la cuenta o lista de amigos, siempre en concordancia con las
                        autorizaciones establecidas por dicho sitio y previamente aceptadas bajo tu consentimiento.
                        Findness no se hace responsable de la información que puedan almacenar, recoger y tratar otros sitios
                        que no sean parte de Findness y que enlacen a nuestros servicios. Te recomendamos encarecidamente
                        que revises su política de privacidad y seas consciente del tipo de uso que haces de ellos.</p>
                    <br />
                    <h3>Uso de la información</h3>
                    <p class="justify-text">Findness recoge y utiliza tu información personal con los propósitos descritos en esta política de
                        privacidad o cualquier otra parte del servicio. Por ejemplo Findness puede utilizar tu información
                        personal para:<br />
                        Operar y facilitar tu uso del sitio y hacer entrega de los servicios solicitados.
                        Responder a tus comunicaciones y peticiones, ofrecer servicio al cliente, pedir opinión o contactar
                        contigo con motivo del uso que haces del servicio de Findness.<br />
                        Informarte de otros servicios y productos disponibles dentro de Findness y sus afiliados o
                        proporcionarte noticias e información relacionada con eventos, actividades, ofertas, promociones,
                        productos y servicios que creamos sean relevantes para ti.<br />
                        Conocer y analizar tu opinión sobre los servicios actuales o potencialmente nuevos servicios que te
                        puedan ser ofrecidos.<br />
                        Monitorizar y analizar el uso del servicio, tanto como tendencias o mantener un registro de las páginas,
                        secciones o actividades que nuestros usuarios realicen dentro del sitio de Findness.
                    </p>
                    <br />
                    <h3>Información compartida</h3>
                    <p class="justify-text">Findness no comparte tu información personal recolectada a través del servicio con terceras partes,
                        excepto las descritas en esta política de privacidad.</p>
                    <br />
                    <h3>Funciones de compartir en redes sociales</h3>
                    <p class="justify-text">Findness puede utilizar funcionalidades u otras herramientas integradas (cómo el botón de "Me gusta"),
                        las cuales te permitan compartir las acciones que realizas en el servicio con otras redes o medios. El
                        uso de estas funcionalidades permite que se pueda compartir la información con tus amigos o el público
                        general, dependiendo de las opciones de privacidad que tengas establecidas con cada entidad, red o
                        medio que proporcione estas funcionalidades. Para más información, uso, alcance y propósito de la
                        recolección o procesamiento de datos de los que hacen uso estas funcionalidades, por favor dirígete a
                        las políticas de privacidad de las entidades que proporcionan dicho servicio.</p>
                    <br />
                    <h3>Compromiso</h3>
                    <p class="justify-text">Findness realiza y tiene en cuenta una serie de medidas para proteger tu información personal de
                        accesos, divulgación o modificaciones no autorizadas.</p>
                    <br />
                    <h3>Baja de notificaciones</h3>
                    <p class="justify-text">Findness te da la opción de desactivar la recepción de anuncios o cierta información promocional
                        relevante. Puedes hacer uso efectivo de ello contactando con Findness a través de la dirección de
                        correo electrónico: info@findness.es</p>
                    <br />
                    <h3>Cambios y actualizaciones de este documento</h3>
                    <p class="justify-text">Findness podrá actualizar de manera ocasional esta política de privacidad para reflejar las opiniones o
                        intereses de la compañía y los clientes. Findness te insta a que revises este documento de forma
                        periódica para que puedas estar siempre informado del uso que hace el servicio de tu información.
                        Findness agradece tus preguntas o comentarios sobre esta política de privacidad. Si crees que
                        Findness no está adherido correctamente a este documento por favor contacta con el departamento
                        legal:</p>
                    <br />
                    <h3>Política de cookies</h3>
                    <p class="justify-text">Cómo utiliza Findness las cookies<br />
                        Una cookie es un pequeño fragmento de texto que los sitios web que visitas envían al navegador y que
                        permite que el sitio web recuerde información sobre tu visita, como tu idioma preferido y otras opciones,
                        lo que puede facilitar tu próxima visita y hacer que el sitio te resulte más útil. Las cookies desempeñan
                        un papel muy importante, ya que sin ellas el uso de la Web sería una experiencia mucho más frustrante.
                        A continuación, listamos los tipos de "cookies" que se usan en Findness además de información
                        adicional para ayudar su comprensión:</p>
                    <p class="justify-text">Analíticas: Usamos cookies de analítica (Google Analytics y Mixpanel) para disponer de información de
                        las visitas de los usuarios, los contenidos más vistos, etc. Esto nos permite mejorar la navegación de
                        los usuarios.
                        Técnicas y Funcionales: Técnicas y Funcionales: Usamos algunas cookies que son esenciales para el
                        funcionamiento de la página web. Por ejemplo, las cookies nos permiten recordar el idioma que
                        debemos mostrarte u otras para recordar tu sesión y no tener que pedirte constantemente tus
                        credenciales de acceso. También utilizamos un contenido de terceros (Google Maps) que puede usar
                        sus propias cookies para su correcto funcionamiento.
                        Sociales: Tenemos integrados botones en la página web (Facebook, Twitter y Google+) que
                        permiten a los usuarios compartir contenidos en redes sociales. Estos botones suelen usar cookies que
                        son propias de cada red social .
                        Con el uso de este sitio web consientes y estas de acuerdo en que alojemos estas cookies en tu
                        ordenador o dispositivo para los fines aquí expresados.
                        Puedes restringir, bloquear o borrar las cookies de Findness o cualquier otra página web, utilizando tu
                        navegador. En cada navegador la configuración es diferente, no obstante te indicamos los siguientes
                        enlaces directos con información al respecto:
                        Internet Explorer: Cookies Internet explorer
                        Firefox: Cookies en Firefox
                        Chrome: Cookies en Chrome
                        Safari: Cookies en Safari
                        Opera: Cookies en Opera</p>
                    <br />
                    <h3>Términos del servicio</h3>
                    <p class="justify-text">Introducción<br />
                        Estos términos y condiciones gobiernan el uso de los servicios ofrecidos por Findness en la web y
                        aplicaciones móviles. Estos servicios en conjunto serán entendidos como el "Servicio". Por favor, lea
                        detenidamente estos términos y condiciones junto con la política de privacidad de Findness antes de
                        utilizar el Servicio.. El uso que haga del Servicio constituye su aceptación y acuerdo con todos los
                        términos y condiciones en este documento y en la política de privacidad. Además ello implica que es
                        mayor de edad (+18 años). Si no está de acuerdo con este documento o con la política de privacidad no
                        tiene permitido usar el Servicio. La política de privacidad es incorporada como referencia en este
                        documento, por tanto estos términos y condiciones junto con la política de privacidad serán referidos en
                        conjunto como el "Acuerdo".</p>
                </div>
            </div>
        </content>
    </ion-content>
</ion-view>
