app.constant("SERVER_CONF", {

    HOST: "http://mum.icox.mobi/framework/web/app_dev.php/",
    API_HOST: "http://mum.icox.mobi/framework/web/app_dev.php/api/v1/"
});

app.constant("OAUTH_CONF", {

    CLIENT_ID: "56f024877f41a_62m2o1kwzawwwcko4ooscc0g48ooocoswkco8c0cs0gg8wckog",
    CLIENT_SECRET: "3hu7mfv1gg6co8s0k88480wggwg8wgosss888cscs8c0osk8wk",

    REFRESH_INTERVAL: 600000
});

app.constant("APP_STORE_CONF", {
    webStore: true
});

app.constant("PAYMENT_CONF", {

    STRIPE_KEY: "pk_live_ltYbnS1lHMag1qNfSuzyqHmZ",
    STRIPE_SECRET: "sk_live_nNj9otxhjFHQ4BZH4uDIWs9T",
    STRIPE_HOST: "https://api.stripe.com/v1/",

    PAYPAL_HOST: "https://api.sandbox.paypal.com/v1/",
    PAYPAL_CLIENT_ID: "AXRnIdF6qTgK9DENZUfL98ERf7M8ZnJx-Ds62nqE3oq7EY5yDwMDynRPAXkK56u4bqA7twj9UJYqdZ8G",
    PAYPAL_SECRET: "EK9Ir00gOzF1KKgAOa9BZ3ecZvtszgHVjmBEQMaPZ5GLXYOjFnZE-QEVBgeTfQoGcNGPkpyM-3hwjWGt"
});

app.constant("DATETIME_FORMAT_CONF", {
    dateTimeFormat : "YYYY-MM-DD HH:mm:ss"
})