app.module('app')
    .constant("SERVER_CONF", {
        
        HOST: "http://mum.icox.mobi/framework/web/app_dev.php/",
        API_HOST: "http://mum.icox.mobi/framework/web/app_dev.php/api/v1/"
    })
    .constant("OAUTH_CONF", {

        CLIENT_ID: "56f024877f41a_62m2o1kwzawwwcko4ooscc0g48ooocoswkco8c0cs0gg8wckog",
        CLIENT_SECRET: "3hu7mfv1gg6co8s0k88480wggwg8wgosss888cscs8c0osk8wk",

        REFRESH_INTERVAL: 600000
    });