app.constant("SERVER_CONF", {

    HOST: "http://mum.icox.mobi/framework/web/app_dev.php/",
    API_HOST: "http://mum.icox.mobi/framework/web/app_dev.php/api/v1/"
});

app.constant("OAUTH_CONF", {

    CLIENT_ID: "57711d94a9c45_15yn4psgwyaooo40g88ks0oocw4k8ws4cgko4okssc48o8cwcw",
    CLIENT_SECRET: "3y7w4rrl9lc0cg44g08csc8s0gkk8owoog8c8g8gko8goko0wk",

    REFRESH_INTERVAL: 600000
});

app.constant("APP_STORE_CONF", {
    webStore: true
});

app.constant("PAYMENT_CONF", {

    STRIPE_KEY: "YOUR_STRIPE_KEY",
    STRIPE_SECRET: "YOUR_STRIPE_SECRET",
    STRIPE_HOST: "https://api.stripe.com/v1/",

    PAYPAL_HOST: "https://api.sandbox.paypal.com/v1/",
    PAYPAL_CLIENT_ID: "AXRnIdF6qTgK9DENZUfL98ERf7M8ZnJx-Ds62nqE3oq7EY5yDwMDynRPAXkK56u4bqA7twj9UJYqdZ8G",
    PAYPAL_SECRET: "EK9Ir00gOzF1KKgAOa9BZ3ecZvtszgHVjmBEQMaPZ5GLXYOjFnZE-QEVBgeTfQoGcNGPkpyM-3hwjWGt"
});

app.constant("DATETIME_FORMAT_CONF", {
    dateTimeFormat : "YYYY-MM-DD HH:mm:ss"
});

app.constant("COMPANY_STYLE", {
    COLOR:{
        BLUE:'http://icox.com/img_findness/blue-dot.png',
        PINK:'http://icox.com/img_findness/pink-dot.png',
        YELLOW:'http://icox.com/img_findness/yellow-dot.png',
        RED: 'http://icox.com/img_findness/red-dot.png',
        GREEN: 'http://icox.com/img_findness/green-dot.png'
    }
});