@font-face {
    font-family: 'Roboto-Regular';
    src: url("../lib/ionic/fonts/Roboto-Regular.eot");
    src: url("../lib/ionic/fonts/Roboto-Regular.eot") format("embedded-opentype"),
    url("../lib/ionic/fonts/Roboto-Regular.woff") format("woff"),
    url("../lib/ionic/fonts/Roboto-Regular.ttf") format("truetype"),
    url("../lib/ionic/fonts/Roboto-Regular.svg") format("svg");
}

@font-face {
    font-family: 'fontawesome';
    src: url('../lib/ionic/fonts/fontawesome-webfont.eot');
    src: url('../lib/ionic/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
    url('../lib/ionic/fonts/fontawesome-webfont.woff') format('woff'),
    url('../lib/ionic/fonts/fontawesome-webfont.ttf') format('truetype'),
    url('../lib/ionic/fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-road:before {
    font-family: "fontawesome";
    content: "\f018";
}

.icon-center {
    position: absolute;
    top: 30px;
    left: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: "Helvetica Neue";
    font-size: 12px !important;
    font-weight: 300 !important;
    margin-top: 10px !important;
    /*margin-left: px!important;*/
    color: #a6a6a6 !important;

}

::-moz-placeholder { /* Firefox 19+ */
    font-family: "Helvetica Neue";
    font-size: 12px !important;
    font-weight: 300 !important;
    margin-top: 10px !important;
    /*margin-left: px!important;*/
    color: #a6a6a6 !important;

}

:-ms-input-placeholder { /* IE 10+ */
    font-family: "Helvetica Neue";
    font-size: 12px !important;
    font-weight: 300 !important;
    margin-top: 10px !important;
    /*margin-left: px!important;*/
    color: #a6a6a6 !important;

}

:-moz-placeholder { /* Firefox 18- */
    font-family: "Helvetica Neue";
    font-size: 12px !important;
    font-weight: 300 !important;
    margin-top: 10px !important;
    /*margin-left: px!important;*/
    color: #a6a6a6 !important;
}

.bar-positive, .toggle.toggle-calm input:checked + .track {
    background: #0185CF !important;
}

.toggle-calm {
    color: #0185CF !important;
}

.button-stable {
    background: #636363 !important;
    color: #ffffff !important;
}

.logo-center {
    width: 100%;
}

.login-logo {
    padding: 50px;
}

.recover-text {
    font-family: "Helvetica Neue";
    text-align: center;
    margin: 30px;
    font-size: 10px;
    color: #AFB3CF !important;
}

.recover-text a {
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none !important;
    color: #AFB3CF !important;
    margin-top: 5px;
}

.hidden {
    display: none;
}

.bottom-div {
    position: absolute;
    bottom: 30px;
}

.left {
    float: left;
    margin-left: 0px;
    margin-right: auto;
    display: block;
}

.box-map {
    z-index: 1;
    position: absolute;
    right: 0px;
    top: 100px;
    background-color: #ffffff;
    width: 100%;
    height: 65px;
    padding: 0px;
}

.bar-positive {
    background-color: #0185CF !important;
}

.tabs-striped.tabs-background-positive .tabs {
    background-color: #0185CF !important;
    background-image: none;
}

.header-bar {
    /*background: #6f3b6e!important; !* For browsers that do not support gradients *!
    background: -webkit-linear-gradient(left, #6f3b6e , #956294)!important; !* For Safari 5.1 to 6.0 *!
    background: -o-linear-gradient(right, #6f3b6e, #956294)!important; !* For Opera 11.1 to 12.0 *!
    background: -moz-linear-gradient(right, #6f3b6e, #956294)!important; !* For Firefox 3.6 to 15 *!
    background: linear-gradient(to right, #6f3b6e , #956294)!important; !* Standard syntax *!*/
    background-image: url("../img/Head_background.png") !important;
    background-size: 100% !important;
    background-repeat: repeat-y;
}

.border-pricing {
    border: 1px solid #750073;
    text-align: center;
}

.icon-pricing {
    width: 20px !important;
}
.icon-modal-info {
    width: 25px!important;
}

.icon-modal-info-details {
    width: 20px!important;
    margin-left: 10px!important;
}

.modal-padding-left {
    padding-left: 20px!important;
}

.icon-center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.list-pricing {
    height: 80px !important;
}

.item-pricing-subtitle {
    padding-left: 10px !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

.list-pricing-subtitle {
    color: #750073 !important;
    font-size: 14px !important;
    font-weight: 100 !important;
}

.list-pricing-text {
    font-size: 13px !important;
    font-weight: 100 !important;
}

.bg-pricing {
    margin-left: 2px;
    margin-right: 2px;
    background: #7d497c !important; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #7d497c, #935f92) !important;; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #7d497c, #935f92) !important;; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #7d497c, #935f92) !important;; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #7d497c, #935f92) !important;; /* Standard syntax */
}

.bar-light .button.button-clear {
    color: #ffffff !important;
}

.bar-header .logo {
    width: auto;
    height: 33px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-btn {
    width: 20px;
    height: 20px;
    margin-top: 8px;
    margin-right: 8px;
}

.menu-btn {
    width: 25px;
    height: 20px;
    margin-top: 8px;
    margin-left: 8px;
}

.bar .title.title-left {
    text-align: left;
    padding: 0px 10px;
}

.title-left {
    /*left: 0px !important;*/
}

.button-100 {
    width: 100%;
}

.subtitle {
    background-color: #E6E7E7 !important;
    position: static !important;
    height: 40px !important;
    text-align: left;
}

.filters .subtitle {
    background-color: #e6e7e7 !important;
    color: #750073;
}

.filters .item-cnae, .filters .item-location {
    border: 0px;
}

.filters .cnae-text {
    color: #0185CF !important;
}

.subtitle-subheader {
    background-color: #E6E7E7;
}

.subtitle-subheader h3 {
    font-size: 13px !important;
}

.subtitle .left {
    margin-left: 5px;
}

.subtitle .left {
    width: 60% !important;
    display: inline-block;
}

.subtitle .right, .subtitle .center {
    width: 20% !important;
    display: inline-block;
}

.subtitle .right {
    font-size: 30px;
    margin-top: -6px;
    float: right;
}

.item-select select {
    width: 60% !important;
}

.item-title, .input-label, .item-input, .item-input input, .item-text-wrap, .item, .item span, a {
    font-family: "Helvetica Neue";
    font-size: 14px;
    /*text-shadow: 2px 2px 4px #A1A1A1;*/
}

.input-label, .item-input {
    font-size: 13px;
    font-weight: 600;
    /*text-shadow: 2px 2px 4px #A1A1A1;*/
}

.list-cart {
    margin: 10px;
}

.ion-autocomplete {
    width: 100%;
}

.register .title {
    text-align: left;
    font-size: 20px;
}

.register .list {
    margin-bottom: 0;
}

.register input, .register .input-label, .register .item-input, .register .ion-close, .register .ion-arrow-left-c {
    color: #888888;
    text-align: center;
    background: #ffffff;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    font-size: 12px;
    align-content: center;
    vertical-align: middle !important;
    line-height: normal !important;
}

.register .item-checkbox, .register .item-text-wrap, .register .card, .register .bar-transparent {
    background: rgba(10, 10, 32, 0.0) !important;
}

.register ::-webkit-input-placeholder {
    color: #888888 !important;
    font-size: 12px !important;

}

.register :-moz-placeholder {
    color: #888888 !important;
    font-size: 12px !important;

}

.register ::-moz-placeholder {
    color: #888888 !important;
    font-size: 12px !important;

}

.register :-ms-input-placeholder {
    color: #888888 !important;
    font-size: 12px !important;
}

/*.login{*/
/*background-image: url("../img/bg/2.jpg");*/
/*background-size: cover;*/
/*}*/

.login, .register {
    padding: 0% 8% 8%;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#956294), color-stop(50%, #816195), color-stop(50%, #4F5C98));
    background-image: -webkit-linear-gradient(top left, #956294, #816195 50%, #4F5C98);
    background-image: linear-gradient(top left, #956294, #816195 50%, #4F5C98);
}

.login .title {
    text-align: left;
    font-size: 20px;
}

.login .list {
    margin-bottom: 0;
}

.login .login-inputs, .register-inputs {
    margin: 0 30px;
}

.login, .login input, .login .input-label, .login .item-input, .login .ion-close {
    color: #888888;
    text-align: center;
}

.login input {
    background: #ffffff;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    font-size: 12px;
    align-content: center;
    vertical-align: middle !important;
    line-height: normal !important;
}

.login input::-webkit-input-placeholder {
    color: #888888 !important;
    font-size: 12px !important;
    padding-top: 16px !important;
}

.login input:-moz-placeholder {
    color: #888888 !important;
    text-align: center;
    font-size: 12px !important;
    padding-top: 16px !important;
    vertical-align: middle !important;
}

.login input::-moz-placeholder {
    color: #888888 !important;
    text-align: center;
    font-size: 12px !important;
    padding-top: 16px !important;
    vertical-align: middle !important;
}

.login input:-ms-input-placeholder {
    color: #888888 !important;
    text-align: center;
    font-size: 12px !important;
    padding-top: 16px !important;
    vertical-align: middle !important;
}

.login .bar-transparent {
    background: rgba(10, 10, 32, 0.0) !important;
}

.modal-company-share {
    width: 80% !important;
    min-height: 20%;
    margin: 40% 10% !important;
    max-height: 50px;
    height: 90%;
    border: 2px solid #636363;
}

.bar-footer-modal {
    height: 70px!important;
    background-size: 100% 0px!important;
}
.modal-company-info {
    width: 96%!important;
    min-height: 20%;
    margin-top: 30%;
    margin-left: 2%!important;
    height: 80%;
}

.btn-google {
    margin-right: 5px;
    min-height: 30px;
    height: 40px;
    line-height: 19px;
}

.col-info {
    padding-left: 10px;
    padding-right: 10px;
}

/*iPhone < 5:*/
@media screen and (device-aspect-ratio: 2/3) {
    .modal-company-info {
        width: 96%!important;
        min-height: 20%;
        margin-top: 17%!important;
        margin-left: 2%!important;
        max-height: 86%;
        height: 100%;
    }
    .btn-google {
        margin-right: 5px;
        min-height: 30px;
        height: 35px;
        line-height: 19px;
    }
    .modal-padding-left {
        padding-top: 0px!important;
        padding-bottom: 0px!important;
        padding-left: 20px!important;
    }
}

/*iPhone 5:*/
@media screen and (device-aspect-ratio: 40/71) {
    .modal-company-info {
        width: 96%!important;
        min-height: 20%;
        margin-top: 24%!important;
        margin-left: 2%!important;
        max-height: 100%;
        height: 85%;
    }
}

/*iPhone 6:*/
@media screen and (device-aspect-ratio: 375/667) {
    .modal-company-info {
        width: 96%!important;
        min-height: 20%;
        margin-top: 45%!important;
        margin-left: 2%!important;
        max-height: 73%;
        height: 73%;
    }
}

@media screen and (min-device-width: 768px) {
    .modal-company-info {
        width: auto!important;
        margin-top: auto!important;
        margin-left: auto!important;
        /*max-height: auto!important;*/
        height: auto!important;
    }
}

/*Nexus 5*/
@media screen and (device-aspect-ratio: 412/732) {
    .modal-company-info {
        width: 96%!important;
        min-height: 20%;
        margin-top: 39%!important;
        margin-left: 2%!important;
        max-height: 80%;
        height: 74%;
    }

    .btn-google {
        margin-right: 5px;
        min-height: 30px;
        height: 40px;
        line-height: 19px;
    }

    .col-info {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.shadow-modal {
    border-radius: 20px;
    box-shadow: -1px 1px 5px 4px #B8B8B8;
}

.modal-company-info .social-object {
    padding: 0px 10px;
    text-align: justify;
}

.modal-company-info .address {
    padding: 2px 10px;
    text-align: justify;
    font-size: 12px;
}

.modal-company-info .row img {
    max-width: 100%;
    padding: 3px;
}

.modal-company-info .row .active {
    border: 1px solid #000000;
    border-radius: 2px;
    background: #696969;
}

.modal-company-info .row .col-20 {
    height: 56px;
}

.slides-header img {
    width: 20px;
    padding: 1px;
    margin-top: 4px;
}

.slide-1 {
    background-image: url("../img/bg/1.png");
    background-size: cover;
}

.slide-1 .content, .slide-2 .content, .slide-3 .content {
    margin-top: 25%;
    padding: 10px;
}

.slide-1 h2, .slide-2 h2, .slide-3 h2 {
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-weight: 800;
    /*font-size: 15px;*/
    /*line-height: 1.8;*/
}

.slide-1 p, .slide-2 p, .slide-3 p {
    font-size: 15px;
    line-height: 1.8;
}

.slide-1 .title, .slide-2 .title, .slide-3 .title {
    text-align: center;
    margin-top: 20px;
}

.slide-1 .description, .slide-2 .description, .slide-3 .description {
    text-align: center;
    padding: 0 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: normal !important;
}

.slide-1 .logo, .slide-2 .logo .slide-3 .logo {
    /*background-color: #ffffff;*/
}

.slide-1 .logo img, .slide-2 .logo img, .slide-3 .logo img {
    padding: 10px 30px;
}

.button-create, .button-sign {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
}

.button-create {
    background: #51A6BA;
}

.button-sign {
    background: #C6658A;
}

.slide-2 {
    background-image: url("../img/bg/2.png");
    background-size: cover;
}

.slide-3 {
    background-image: url("../img/bg/1.png");
    background-size: cover;
}

.swiper-pagination-bullet {
    background: #ffffff !important;
}

/*tab en mapa*/
.tabs-mapa > .tabs, .tabs.tabs-mapa {
    top: 0px;
!important;
}

/* estilos para manejo de error en formulario */
.error-container {
    margin: 5px 0;
}

.error-container:last-child {
    margin: 5px 0 0;
}

.error {
    padding: 10px 16px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #555;
    vertical-align: middle;
}

.error i {
    font-size: 24px;
    color: #B83E2C;
    vertical-align: middle;
}

.last-error-container > .error {
    padding: 10px 16px 0;
}

.has-errors {
    border-bottom: 3px solid #B83E2C;
}

.no-errors {
    border-bottom: 3px solid green;
}

#mainMenu .bar-header {
    height: 235px;
    background-image: url("../img/bg/menu.png");
    background-size: cover;
}

.categories {
    margin-top: 190px;
}

.categories img{
    height: 20px;
    margin-right: 10px;
}

.categories .list{
    padding: 0!important;
}

.categories .item {
    color: #949799;
    font-size: 18px;
    padding: 9px 10px;
}

.categories .list span{
    margin-top: -5px !important;
    position: relative;
}

.header-menu {
    width: 100%;
}

.header-menu .legend {
    margin-top: 5px;
    margin-right: 5px;
}

.header-menu .legend .up {
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    float: right;
    position: relative;
    text-align: right;
}

.header-menu .legend .up p {
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0;
}

.header-menu .legend .down {
    width: 100%;
    display: block;
    color: #fff;
    position: absolute;
    font-size: 12px;
    float: right;
    text-align: right;
    line-height: 40px;
    margin-top: 150px;
    padding: 20px;
}

.header-menu .legend .right img {
    width: 30px;
    float: right;
    margin-right: 10px
}

.modal-company-detail .bar-header {
    padding: 0 !important;
}

.back-icon {
    margin-left: 10px;
    font-size: 33px;
    color: #E6E7E7;
}

.title-header-compay {
    color: #ffffff!important;
}

.modal-company-detail .header-company-detail {
    background-image: url('../img/bg/company.jpg');
    background-size: cover;
    width: 100%;
    height: 250px;
}

.modal-company-detail .title-center, .modal-company-detail .category {
    text-align: center !important;
    color: #E6E7E7;
    font-family: "Helvetica Neue" !important;
}

.modal-company-detail .title-center {
    margin-top: 80px;
    font-size: 20px !important;
    word-wrap: break-word;
}

.modal-company-detail .category {
    font-size: 11px;
    margin-top: 5px;
}

.modal-company-detail .scroll-content {
    margin-top: 205px !important;
    z-index: 12 !important;
}

.modal-company-detail .row-info {
    border-bottom: solid 2px #E6E7E7;
}

.modal-company-detail .row-info .col {
    margin: 15px 0px 0px 5px !important;
}

.modal-company-detail .row-info .up {
    color: #A8A8A8;
}

.modal-company-detail .row-info .down {
    color: #0185CF;
}

.modal-company-detail .row-map {
    height: 210px !important;
    padding: 0 !important;
    margin: 0 !important;
}

.modal-company-detail .my-location {
    position: relative;
    z-index: 15;
    display: block;
    float: right;
    left: 80%;
    top: 10px;
    width: 40px;
}

.modal-company-detail .my-location img {
    width: 40px;
}

.map-buttons {
    position: absolute;
    bottom: 15px;
    z-index: 99;
    display: table;
    width: 100%;
}

.info-map-button {
    position: absolute;
    top: 55px;
    left: 5px;
    z-index: 99;
    display: table;
}

.info-map-button i {
    font-size: 40px;
    color: #750073;
}

.info-map-button-img {

}

.modal-route-info {
    background-image: url(../img/bg/menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff!important;
    width: 80% !important;
    min-height: 30%;
    margin: 40% 10% !important;
    max-height: 50%;
    height: 90%;
}

.justify-text {
    text-align: justify;
}

.list {
    position: relative;
    padding-bottom: 0 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-bottom: 0 !important;
}

.month {
    margin-top: 25px;
}

.month-6 {
    margin-top: 10px;
}

.month-text {
    color: darkgray;
    font-weight: bold;
}

.pricing {
    color: darkgray;
    font-weight: 100;
}

.recommended {
    color: #ffffff !important;
    font-weight: bold;
}

.recommended-pricing {
    color: #ffffff !important;
    font-weight: 100;
}

.icon-font-pricing {
    font-size: 30px;
    color: #750073;
}

.include-text {
    margin-bottom: 0!important;
    font-weight: 700!important;
    color: #750073!important;
    font-size: 10px!important;
}

.card-pricing {
    margin: 0px !important;
}

.item-pricing {
    padding: 0px !important;
}

.item-modal-info {
    padding: 0!important;
    border: none!important;
}

#shape-pricing {
    text-align: center;
    background: #51A6BA;
    display: inline-block;
    height: 20px;
    /*margin-left: 20px;*/
    /*margin-top: 55px;*/
    position: relative;
    top: -13px;
    width: 100px;
}

#shape-pricing:before {
    border-top: 12px solid #51A6BA;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 20px;
    width: 0;
}

.text-recommended {
    margin-top: 3px;
    color: #ffffff;
}

.ul-recommended {
    margin-top: -12px;
}

.ul-pricing {
    margin-top: 36px;
}

.btn-color {
    background-color: #b79db6 !important;
}

.btn-cnae {
    border-radius: 5px !important;
    margin-right: 5px !important;
    width: 70px !important;
    margin-bottom: 5px !important;
}

.btn-text-cnae {
    float: left !important;
    margin-left: 4px !important;
    color: #fff !important;
    font-size: 14px !important;
}

.btn-filter:before {
    float: right;
    margin-top: 4px !important;
    margin-left: 3px !important;
    margin-right: 4px !important;
    font-weight: 700 !important;
}

.info-subscription {
    border: none !important;
    padding-top: 5px !important;
    padding-bottom: 0 !important;
}

.btn-icon-color {
    color: #750073 !important;
}

.btn-subscribe {
    font-size: 10px !important;
    font-weight: 100 !important;
    margin-top: 30px !important;
}

.btn-subscribe-6 {
    font-size: 10px !important;
    font-weight: 100 !important;
    margin-top: 14px !important;
}

.tag-subscribe-6 {
    position: relative;
    bottom: 12px;
}

.btn-icon-cnae:before {
    float: right;
    margin-top: 4px !important;
    margin-left: 10px !important;
    margin-right: 4px !important;
    font-weight: 700 !important;
}

.input-search {
    margin-left: 10px !important;
    padding-top: 4px !important;
    padding-right: 0px !important;
    color: #a6a6a6 !important;
    width: 80% !important;
}

.border-radius {
    border-radius: 4px !important;
    border: 1px solid #ddd !important;
}

.title-views {
    color:#750073!important;
    font-size: 16px;
    font-weight: bold;
}

.subtitle-input {
    font-size: 14px !important;
    color: #95989a !important;
    font-weight: 100 !important;
}

.subtitle span {

    font-size: 16px;
    font-weight: bold;
}

.btn-text {
    text-transform: uppercase !important;
    font-weight: 600;
    font-size: 10px !important;
}

.btn-cancel {
    background-color: #c66565 !important;
}

.btn-positive {
    background-color: #c6658a !important;
}

.border-header {
    /*border-bottom: 1px solid #750073!important;*/
}

.list-content {
    padding-left: 5px;
    padding-right: 10px;
}

.range {
    padding: 0px !important;
}

.value-range {
    margin-top: 15px;
    padding: 0px !important;
    margin-left: 15px !important;
}

.label-range {
    margin-left: 16px !important;
    float: none !important;
    margin-top: -19px !important;
    color: #a6a6a6 !important;
}

.span-item {
    font-size: 14px !important;
    color: #95989a !important;
}

.border-bottom {
    border-bottom: 1px solid #ddd !important;
}
.border-top-bottom {
    border-bottom: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
    padding-left: 5px !important;
    padding-right: 10px !important;
}

.div-search {
    padding-bottom: 0px !important;
}

.selected-button {
    padding-top: 10px;
    padding-left: 6px;
    padding-right: 5px;
}

.subtitle-right {
    font-size: 24px;
    margin-top: 0px;
    float: right;
    margin-right: 10px;
    color: #a7aaaa;
}

.list-payment {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.gray-text {
    color: #95989a !important;
    font-size: 14px !important;
    margin-bottom: 2px !important;
}

.row-payment {
    padding-left: 0px !important;
    padding-bottom: 0px !important;
}

.padding-not-l-r {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.row-padding {
    padding: 0!important;
}

.input-label-payment {
    font-size: 12px !important;
    padding-right: 0 !important;
    width: 0px !important;
}

.span-left {
    margin-left: 5px !important;
    font-size: 12px !important;
    font-weight: 100 !important;
}

.error-confirmation-label{
    text-align: left !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.item-input-new{
    padding: 2px !important;
    border: none !important;
    color: #767676 !important;
    margin-bottom: 10px;
    font-size: 12px;
}

.item-input-new .item-input input, .item-input-new .item-input span{
    font-size: 12px !important;
    color: #767676 !important;
    font-family: "Helvetica Neue" !important;
}

.profile-inputs{
    margin: 5px !important;
}

.btn-positive-outline {
    border-color: #5BA1BD!important;
    font-size: 9px!important;
    font-weight: 600!important;
    color: #5BA1BD!important;
}

.btn-rose-outline {
    border-color: #C6658A!important;
    font-size: 9px!important;
    font-weight: 600!important;
    color: #C6658A!important;
}

.name-company{
    text-align: center!important;
    font-size: 14px!important;
    font-weight: 500!important;
}

.popup {
    height: auto;
    background-image: url(../img/bg/menu.png);
    background-size: cover;
    color: #ffffff!important;
}

.popup-head {
    border: none!important;
}

.popup-title {
    color: #ffffff!important;
}

.popup-sub-title {
    color: #ffffff!important;
}

.list-companies{
    width: 38px!important;
    left: 5px;
}

.selected-transporter {
    border-radius: 20px ;
    color: #9E4E9C;
    background-color: #ffffff;
}

.not-selected-transporter {
    color: #ffffff;
    border-radius: 20px;
    background-color: transparent;
}

.btn-float-right-map {
    position:fixed;
    top:10px;
    right:10px;
}

.btn-float-right-info {
    width: 100%;
    position:fixed;
    top:10px;
    right: -10px;
}

.btn-float-right-blur {
    background-color: rgba(255,255,255,.5);
    color: #000;
    position: fixed;
    top: 10px;
    right: 10px;
    height: 55px;
    width: 90%;
}

.btn-float-right-list {
    position:fixed;
    top:60px;
    right:10px;
}

.btn-float-list {
    font-size: 10px!important;
    -webkit-border-radius: 1px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius: 1px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-radius: 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-float-map {
    font-size: 10px!important;
    margin-left: -6px!important;
    -webkit-border-radius: 10px;
    -webkit-border-top-left-radius: 1px;
    -webkit-border-bottom-left-radius: 1px;
    -moz-border-radius: 10px;
    -moz-border-radius-topleft: 1px;
    -moz-border-radius-bottomleft: 1px;
    border-radius: 10px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}

.btn-info-text {
    background-color: rgba(255, 255, 255, 0.9)!important;
    color:#000!important;
    font-size: 10px!important;
    -webkit-border-radius: 1px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius: 1px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-radius: 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-info {
    background-color: rgba(255, 255, 255, 0.9)!important;
    color:#000!important;
    -webkit-border-radius: 10px;
    -webkit-border-top-left-radius: 1px;
    -webkit-border-bottom-left-radius: 1px;
    -moz-border-radius: 10px;
    -moz-border-radius-topleft: 1px;
    -moz-border-radius-bottomleft: 1px;
    border-radius: 10px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}

.btn-info:active {
    background-color: rgba(0, 0, 0, 0.3)!important;
    color: #ffffff;!important;
    -webkit-filter: opacity(50%);
}

.img-info {
    right: 8px;
    width: 35px;
}

.btn-float {
    background-color: #E8F3F0!important;
    color: #000!important;
}

.btn-float-active {
    background-color: #98C9C9!important;
    color: #fff!important;
}

.icon-info {
    font-size: 35px!important;
    color: #750073!important;
    margin-left: 10px!important;
}

.popup-buttons .button {
    font-size: 12px!important;
}

.button.button-positive {
    background-color: #51A6BA!important;
}